// fonts
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

// Modern reset
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body,
main {
	height: 100vh;
	width: 100vw;
}
html {
	font-size: 62.5%;
}

main {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Dongle", "Times New Roman", Times, serif;
	background-color: #fefae0;
	padding: 1.5rem 1rem;
}

#root,
#__next {
	isolation: isolate;
}

//////////////

// UI COMPONENTS
.menu {
	height: 100%;
	width: 100%;
	position: fixed;
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&--heading {
		font-size: 5rem;
	}

	&--btn {
		--offset: 10px;
		--border-size: 2px;

		position: relative;
		padding: 1.5em 3em;
		appearance: none;
		border: 0;
		background: transparent;
		color: #0a0908;
		text-transform: uppercase;
		letter-spacing: 0.25em;
		outline: none;
		cursor: pointer;
		font-weight: bold;
		border-radius: 0;
		box-shadow: inset 0 0 0 var(--border-size) currentcolor;
		transition: background 0.8s ease;

		&:hover {
			background: rgba(100, 0, 0, 0.03);
		}

		&__horizontal,
		&__vertical {
			position: absolute;
			top: var(--horizontal-offset, 0);
			right: var(--vertical-offset, 0);
			bottom: var(--horizontal-offset, 0);
			left: var(--vertical-offset, 0);
			transition: transform 0.8s ease;
			will-change: transform;

			&::before {
				content: "";
				position: absolute;
				border: inherit;
			}
		}

		&__horizontal {
			--vertical-offset: calc(var(--offset) * -1);
			border-top: var(--border-size) solid #f4a261;
			border-bottom: var(--border-size) solid #f4a261;

			&::before {
				top: calc(var(--vertical-offset) - var(--border-size));
				bottom: calc(var(--vertical-offset) - var(--border-size));
				left: calc(var(--vertical-offset) * -1);
				right: calc(var(--vertical-offset) * -1);
			}
		}

		&:hover &__horizontal {
			transform: scaleX(0);
		}

		&__vertical {
			--horizontal-offset: calc(var(--offset) * -1);
			border-left: var(--border-size) solid #f4a261;
			border-right: var(--border-size) solid #f4a261;

			&::before {
				top: calc(var(--horizontal-offset) * -1);
				bottom: calc(var(--horizontal-offset) * -1);
				left: calc(var(--horizontal-offset) - var(--border-size));
				right: calc(var(--horizontal-offset) - var(--border-size));
			}
		}

		&:hover &__vertical {
			transform: scaleY(0);
		}

		&--2 {
			padding: 1rem;
			background-color: transparent;
			border: 0;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&--popup {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 101;
		width: 60%;
		height: 60%;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 1rem 2rem;
		background-color: #f8f4f9;
		transition: all 0.3s ease-in;

		&__heading {
			display: block;
			font-size: 3rem;
			transform: rotate(270deg) translateX(-10rem);
		}

		&__subheading {
			font-size: 2.5rem;
			font-weight: 700;
			margin-left: 2rem;
			text-align: center;
		}

		&__contents {
			display: flex;
			align-content: center;
			font-size: 2rem;
			hyphens: auto;
			gap: 2rem;
			padding: 2rem 1rem;
		}

		&__controls {
			background-color: #d0ccd0;
			width: 20%;
			border-radius: 10px;
			padding: 1rem ;
		}

		&__description {
			flex: 1;
			padding: 1rem 2rem;
		}

		&__close {
			position: absolute;
			top: 5%;
			right: 5%;
			transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
			border-radius: 4px;

			&:hover {
				background-color: #dc493a;
				border: 1px solid black;
			}
		}

		&__btn {
			padding: 0.5rem 1rem;
			font-size: 2rem;
			cursor: pointer;
			background-color: transparent;
			border: 0;
			transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
		}

		&__close:hover &__btn {
			color: #fff;
		}
	}
}

// Game components
canvas {
	position: fixed;
	border-radius: 3rem;
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.player {
	height: 100%;
	width: 50%;
	background-color: #606c38;
	color: rgba(255, 255, 255, 0.2);
	// color: #fff3b0;
	position: relative;
	transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
	&--1 {
		border-right: 5px dotted #fefae0;
		border-radius: 3rem 0rem 0rem 3rem;
	}

	&--2 {
		border-radius: 0 3rem 3rem 0;
	}

	&--winner {
		background-color: #283618;
		color: #ffffff;
	}
}

.score {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__text {
		font-size: 10rem;
		transition: all 0.3s ease-in;
	}
}

.lists {
	list-style: none;
	width: 100%;
	text-align: center;
}

.list {
	margin: 1.5rem;
}

// Pause menu components
.pause {
	&__heading {
		font-size: 7rem;
		color: #fefae0;
		font-weight: 700;
		text-align: center;
		animation: pulse 2s infinite;
		backface-visibility: hidden;
	}

	&__menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 101;
		transition: all 0.5s ease-in;

		span {
			font-family: "Redressed", cursive;
			font-size: 2rem;
			color: #fefae0;
		}
	}
	&__btn {
		&:visited,
		&:link {
			width: auto;
			text-align: center;
			display: inline-block;
			font-size: 3rem;
			color: #fefae0;
			text-decoration: none;
			padding: 1rem 2rem;
			cursor: pointer;
			letter-spacing: 0.3rem;
			backface-visibility: hidden;
			background-image: linear-gradient(
				120deg,
				transparent 0%,
				transparent 50%,
				#fff 50%
			);
			background-size: 220%;
			transition: all 0.5s;

			&:hover {
				background-position: 100%;
				color: #000;
				transform: translateX(1rem);
			}
		}
	}

	&__icon {
		position: fixed;
		top: 10%;
		left: 5%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 5.5rem;
		width: 5.5rem;
		background-color: transparent;
		cursor: pointer;
		z-index: 10;
		transition: 0.5s ease-in;

		&:hover {
			transform: scale(1.05) translateY(-3px);
		}

		& img {
			width: 100%;
			height: 100%;
		}
	}
}
.btn {
	color: #000;
	text-decoration: none;
	font-size: 2rem;
	cursor: pointer;
	width: 10rem;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100;
	transition: all 0.5s;
}

// class modifier
.hidden {
	visibility: hidden;
	opacity: 0;
}

// Animation
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

// Media query
@media only screen and (max-width: 900px) {
	html {
		font-size: 50%;
	}

	.app {
		flex-direction: column;
	}

	.player {
		height: 50%;
		width: 100%;
		border: 0;

		&--1 {
			border-bottom: 5px dotted #fefae0;
			border-radius: 3rem 3rem 0rem 0rem;
		}

		&--2 {
			border-radius: 0 0 3rem 3rem;
		}
	}

}

@media only screen and (max-width : 600px) {
		html{
			font-size: 37.5%;
		}

		.menu--popup{
			width: 90%;

			&__contents{
				gap: 0;
			}
		}
	}
